@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&family=Libre+Caslon+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

#skipnavigation a {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

button {
  border: 0;
  cursor: pointer;
}

em {
  font-style: normal;
}

body {
  position: relative;
  font-family: Libre Caslon Text;
  color: #000;
  letter-spacing: 1px;
}

#header_sub {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 58px;
  padding: 0 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
#header_sub h1 {
  float: left;
  width: 126px;
  height: 58px;
}
#header_sub h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
#header_sub nav #gnb {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
#header_sub nav #gnb li {
  margin-right: 50px;
}
#header_sub nav #gnb li a {
  display: block;
  padding: 23px 0 16px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  letter-spacing: 1px;
}
#header_sub .util {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header_sub .util li {
  margin-left: 20px;
}
#header_sub .util li a {
  display: block;
  padding: 23px 0 16px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  letter-spacing: 1px;
}
#header_sub::after {
  content: "";
  display: block;
  clear: both;
}

.content {
  margin-top: 58px;
}
.content .sub_visual {
  padding: 80px 0;
  height: 490px;
  width: 1180px;
  margin: 0 auto;
}
.content .sub_visual h2 {
  font-weight: normal;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 15px;
}
.content .sub_visual h2 .cursive {
  font-size: 50px;
  line-height: 45px;
}
.content .sub_visual h2 .cursive::after {
  bottom: 25px;
}
.content .sub_visual p {
  position: relative;
  margin-top: 5px;
  padding-right: 40px;
  display: inline-block;
  padding-top: 10px;
  font-family: Poppin, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333;
}
.content .sub_visual p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 1px;
  background: #000;
}
.content .sub_visual p::after {
  content: "";
  position: absolute;
  right: -500px;
  top: 0;
  width: 500px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #000;
}
.content .inner {
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 100px;
}

#footer_sub {
  padding: 40px 50px;
  background: #faf8f4;
}
#footer_sub .info_footer {
  float: left;
  width: 80%;
}
#footer_sub .info_footer address {
  font-size: 11px;
  line-height: 22px;
  font-style: normal;
}
#footer_sub .info_footer .copyright {
  margin-top: 120px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}
#footer_sub .info_link {
  float: right;
  width: 20%;
}
#footer_sub .info_link .menu_footer {
  float: left;
}
#footer_sub .info_link .menu_footer li + li {
  margin-top: 4px;
}
#footer_sub .info_link .menu_footer li a {
  font-size: 12px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  color: #000;
}
#footer_sub .info_link .list_sns {
  float: right;
  overflow: hidden;
}
#footer_sub .info_link .list_sns li {
  float: left;
  margin-left: 10px;
}
#footer_sub::after {
  content: "";
  display: block;
  clear: both;
}

.content.community .sub_visual p::after {
  background-image: url(../img/community.png);
}

.content.department .sub_visual p::after {
  background-image: url(../img/department.png);
  background-position: center -15px;
}

.content.gallery .sub_visual p::after {
  background-image: url(../img/gallery.png);
}

.content.location .sub_visual p::after {
  background-image: url(../img/location.png);
  background-position: center -100px;
}

.content.youtube .sub_visual p::after {
  background-image: url(../img/youtube.png);
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 58px;
  padding: 0 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
}
#header h1 {
  float: left;
  width: 126px;
  height: 58px;
}
#header h1 a {
  display: block;
  width: 100%;
  height: 100%;
}
#header nav #gnb {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
}
#header nav #gnb li {
  margin-right: 50px;
}
#header nav #gnb li a {
  display: block;
  padding: 23px 0 16px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  letter-spacing: 1px;
}
#header .util {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .util li {
  margin-left: 20px;
}
#header .util li a {
  display: block;
  padding: 23px 0 16px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  letter-spacing: 1px;
}
#header::after {
  content: "";
  display: block;
  clear: both;
}

.cursive {
  position: relative;
  font-family: Italianno;
  font-size: 70px;
  line-height: 65px;
  letter-spacing: 1px;
}
.cursive::after {
  position: absolute;
  left: 0;
  bottom: 35px;
  content: "";
  width: 100%;
  height: 1px;
  background: #000;
}

.tit_home {
  font-size: 25px;
  letter-spacing: 4px;
  line-height: 40px;
}

.desc_home {
  margin-top: 10px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  letter-spacing: 0.5px;
}

.link_home_more {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  font-size: 14px;
  color: #000;
}
.link_home_more:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 6px;
  background: #d8d6d2;
  z-index: -1;
}

.info_home_tit {
  float: left;
}

#visual {
  overflow: hidden;
  height: 100vh;
  margin-top: 58px;
}
#visual .slider {
  height: 100%;
}
#visual .slider li {
  height: 100%;
}
#visual .slider li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#brand .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0 150px;
}
#brand .inner .box_cont {
  float: right;
  position: relative;
  margin-top: -150px;
}
#brand .inner .box_cont .box_img {
  width: 500px;
  height: 600px;
  background: pink;
  background: url(../img/brand.png) no-repeat center/cover;
}
#brand .inner .box_cont .box_txt {
  position: absolute;
  right: 440px;
  bottom: -60px;
  width: 480px;
  height: 350px;
  background: #faf8f4;
  box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.2);
}
#brand .inner::after {
  content: "";
  display: block;
  clear: both;
}

#introduce .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0;
}
#introduce .inner .list_introduce {
  float: right;
  width: 885px;
}
#introduce .inner .list_introduce li {
  float: left;
  width: 33.3333333333%;
  padding-left: 60px;
}
#introduce .inner .list_introduce li em {
  display: block;
  width: 50px;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  background: #faf8f4;
}
#introduce .inner .list_introduce li strong {
  display: block;
  font-size: 20px;
  margin-top: 30px;
}
#introduce .inner .list_introduce li a {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  font-size: 15px;
  line-height: 1;
  color: #000;
}
#introduce .inner .list_introduce li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 6px;
  background: #d8d6d2;
  z-index: -1;
}
#introduce .inner::after {
  content: "";
  display: block;
  clear: both;
}

#member .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0 250px;
  text-align: center;
}
#member .inner .desc_home {
  margin-top: 30px;
}
#member .inner .link_home_more {
  margin-top: 30px;
}
#member .inner ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}
#member .inner ul li {
  width: 25%;
  height: 500px;
}
#member .inner ul li:nth-of-type(even) {
  margin-top: -150px;
}
#member .inner ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
#member .inner ul li strong {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
}
#member .inner ul li p {
  margin-top: 10px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 20px;
  color: #999;
}

#banner {
  position: relative;
  width: 100%;
  padding: 120px 0;
  background: url(../img/banner.png) no-repeat center/cover fixed;
  text-align: center;
  color: #fff;
}
#banner .tit_banner {
  position: relative;
  z-index: 1;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 7px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}
#banner .tit_banner .cursive {
  font-size: 80px;
}
#banner .tit_banner .cursive::after {
  bottom: 40px;
  background: #fff;
}
#banner .desc_banner {
  position: relative;
  z-index: 1;
  margin-top: 35px;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 2px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

#news .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 100px 0;
}
#news .inner .list_news {
  float: right;
  width: 65%;
  display: flex;
  justify-content: space-between;
}
#news .inner .list_news li {
  width: 33.3333333333%;
  margin-left: 20px;
}
#news .inner .list_news li a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Poppins, sans-serif;
  color: #000;
  border: 1px solid #eee;
}
#news .inner .list_news li a .thumb_news {
  overflow: hidden;
  width: 100%;
  height: 200px;
}
#news .inner .list_news li a .thumb_news img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#news .inner .list_news li a .cont_news {
  padding: 15px;
}
#news .inner .list_news li a .cont_news strong {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
#news .inner .list_news li a .cont_news p {
  display: -webkit-box;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #999;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
#news .inner:after {
  content: "";
  display: block;
  clear: both;
}

#comments .inner {
  width: 1180px;
  margin: 0 auto;
  padding: 50px 0 150px;
}
#comments .inner .list_tab {
  margin-top: 20px;
}
#comments .inner .list_tab li {
  float: left;
  margin-right: 30px;
}
#comments .inner .list_tab li a {
  display: inline-block;
  font-size: 16px;
  color: #000;
}
#comments .inner .list_tab li.on {
  position: relative;
}
#comments .inner .list_tab li.on a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 6px;
  background: #d8d6d2;
  z-index: -1;
}
#comments .inner .list_tab:after {
  content: "";
  display: block;
  clear: both;
}
#comments .inner .area_comments {
  float: right;
  margin-left: -12px;
}
#comments .inner .area_comments ul {
  margin-top: -40px;
}
#comments .inner .area_comments ul li {
  margin-top: 40px;
}
#comments .inner .area_comments ul li a {
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
#comments .inner .area_comments ul li a .data {
  display: block;
  font-size: 14px;
}
#comments .inner .area_comments ul li a .cont {
  float: left;
  width: 80%;
  margin-top: 10px;
  padding: 2px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #faf8f4;
  color: #222;
}
#comments .inner .area_comments ul li a .writer {
  float: right;
  width: 20%;
  margin-top: 10px;
  text-align: right;
  font-size: 14px;
}
#comments .inner .area_comments ul li a:after {
  content: "";
  display: block;
  clear: both;
}
#comments .inner .area_notice {
  float: right;
}
#comments .inner:after {
  content: "";
  display: block;
  clear: both;
}

.warp_line {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1180px;
  height: 100%;
  z-index: -1;
  margin-left: -590px;
}
.warp_line [class^=line] {
  position: absolute;
  bottom: 1840px;
  width: 1px;
  background: #d8d6d2;
  opacity: 0.4;
}
.warp_line .line1 {
  left: 25%;
  top: 1560px;
}
.warp_line .line2 {
  left: 50%;
  top: 0;
}
.warp_line .line3 {
  left: 75%;
  top: 0;
}
.warp_line .line4 {
  left: 100%;
  top: 0;
}

#footer {
  padding: 40px 50px;
  background: #faf8f4;
}
#footer .info_footer {
  float: left;
  width: 80%;
}
#footer .info_footer address {
  font-size: 11px;
  line-height: 22px;
  font-style: normal;
}
#footer .info_footer .copyright {
  margin-top: 120px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
}
#footer .info_link {
  float: right;
  width: 20%;
}
#footer .info_link .menu_footer {
  float: left;
}
#footer .info_link .menu_footer li + li {
  margin-top: 4px;
}
#footer .info_link .menu_footer li a {
  font-size: 12px;
  line-height: 14px;
  font-family: Poppins, sans-serif;
  color: #000;
}
#footer .info_link .list_sns {
  float: right;
  overflow: hidden;
}
#footer .info_link .list_sns li {
  float: left;
  margin-left: 10px;
}
#footer::after {
  content: "";
  display: block;
  clear: both;
}

/*# sourceMappingURL=style.css.map */
