* {margin:0;padding:0;box-sizing:border-box;}
body {position:relative;}

ul,ol,li {list-style:none;}
a {text-decoration:none;}
.hidden {position:absolute;top:-99999px;opacity:0;}
#skipnavigation a {position:absolute;top:-30px}
button {border:0;cursor: pointer;}
em {font-style:normal}
body {font-family:Libre Caslon Text;color:#000;letter-spacing:1px}