//header
#header_sub {
    position:fixed;left:0;top:0;z-index:100;width:100%;height:58px;padding:0 50px;background:#fff;border-bottom:1px solid #eee;
    h1 {
        float:left;width:126px;height:58px;
        a {
            display:block;width:100%;height:100%;
        }
    }
    nav {
        #gnb {
            float:left;
            display:flex;justify-content:center;align-items:center;
            margin-left:60px;
            li {
                margin-right:50px;
                a {
                    display:block;
                    padding:23px 0 16px;
                    font-family:Poppins, sans-serif;font-size:14px;line-height:18px;color:#000;letter-spacing:1px;
                }
            }
        }
    }
    .util {
        float:right;
        display:flex;justify-content:center;align-items:center;
        li {
            margin-left:20px;
            a {
                display:block;
                padding:23px 0 16px;
                font-family:Poppins, sans-serif;font-size:12px;line-height:18px;color:#000;
                letter-spacing:1px;
            }
        }
    }
    &::after {
        content:"";display:block;clear:both;
    }
 
}

.content {
    margin-top:58px;
    .sub_visual {
        padding:80px 0;height:490px;
        width:1180px;margin:0 auto;  
        h2 {
            font-weight:normal;
            font-size:50px;line-height:1;letter-spacing:15px;
            .cursive {   
                font-size:50px;line-height:45px;
                &::after {
                    bottom:25px;
                }
            }             
        }
        p {
            position:relative;margin-top:5px;padding-right:40px;display:inline-block;padding-top:10px;font-family:Poppin,sans-serif;font-size:12px;line-height:18px;color:#333;
            &::before {
                content:"";
                position:absolute;left:0; top:0px;
                width:100%;height:1px;background:#000;
            }
            &::after {
                content:"";
                position:absolute;right:-500px;top:0;width:500px;height:200px;
                background-repeat:no-repeat;background-position:center center;background-size:cover;
                box-shadow:10px 10px 10px rgba(0,0,0,.2);border-top:1px solid #000;
            }
        }

    }
    .inner {
        width:1180px;margin:0 auto;padding-bottom:100px;
    }
}


//footer
#footer_sub {
    padding:40px 50px;
    background:#faf8f4; 
    .info_footer {
        float:left;width:80%;
        address {
            font-size:11px;line-height:22px;font-style:normal;
        }
        .copyright {
            margin-top:120px;
            font-family:Poppins, sans-serif;font-size:12px;
        }   
    }
    .info_link {
        float:right;width:20%;
        .menu_footer {
            float:left;
            li {
                &+ li {margin-top:4px;}
                a {
                    font-size:12px;line-height:14px;
                    font-family:Poppins, sans-serif;color:#000;
                }
            }
        }
        .list_sns {
            float:right;overflow:hidden;
            li {
                float:left;margin-left:10px;
            }
        }
    }
   &::after {
    content:"";display:block;clear:both;
   }
}